# app properties 
[DEFAULT]

debug=True

# coinbase service url
cbp_url=wss://ws-feed.pro.coinbase.com

# QPATH
qpath=/home/ubuntu/q/l32

# kdb service to save live data to
kdb_host=localhost
kdb_port=5001

# kdb tables 
trade:flip `sym`time`price!"spf"$\:();
quote:flip `sym`time`bid`ask!"spff"$\:();

# splay location
save_dir=/tmp
output_dir=/tmp

# model configs
#ticker_file=~/git/data/dow30.csv
ticker_file=data/test.csv


#ticker_file=data/etf.csv
#ticker_file=data/sp100.csv
#ticker_file=data/tickers.csv
#ticker_file=data/sector.csv
#ticker_file=data/buffet.csv
#ticker_file=data/pair.csv

#start_date=2020-01-01
#end_date=2020-12-31

#template_file=template_indicator.html
template_file=template_charts.html
plot_func=get_indicator_plots

send_image=True
mail_config=./sendimage.config
