# app properties 
[DEFAULT]

debug=True

from_addr=gfeng22@gmail.com
password=Br000klyn
to_addr=gfeng22@outlook.com


#smtp_server = 'smtp.yahoo.com'
#smtp_port = 989
smtp_server=smtp.gmail.com
smtp_port = 587

subject=AQ Indicator - 
sections=Price distributions

# data & log location
save_dir=/tmp
output_dir=/tmp

# model configs
ticker_file=data/dow30.csv
images=AQ_indicator_dow30.png


#start_date=2020-01-01
#end_date=2020-12-31

template_file=template_indicator.html
plot_func=get_indicator_plots
